# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment files
backend/.env
frontend/.env
.env
.env.local

# OS files
Thumbs.db

backend/uploads/
frontend/dist/
backend/dist/

node_modules/

/generated/prisma

uploads/
